<% include partials/header %>

    <div class = "container">
        <header class="jumbotron">
            <div class = "container">
               <h1>Welcome to Trek Pakistan</h1>
                <p>See the life, culture, and history of Pakistan from an insider's perspective</p>
                <p><a class = "btn btn-primary btn-lg" href= "/sites/new">Add New Trek</a></p> 
            </div>
            
        </header>
        
        <div class = "row">
            <div class = "col-lg-12">
                <h3>Most Popular Treks</h3>
            </div>
        </div>
        
        <div class = "row text-center" style="display:flex; flex-wrap: wrap;">
            <% sites.forEach(function(sites){ %>
                <div class = "col-md-3 col-sm-6">
                    <div class = "thumbnail">
                        <img src = "<%= sites.image %>">
                    </div>
                    <div class = "caption">
                        <h4><%= sites.name %> </h4>
                    </div>
                </div>
        <% }) %>
        </div>
    </div>

<% include partials/footer%>
